body {
    height: 100%;
    width: 100%;
    display:flexbox;
    background-color: var(--azul);
    color: var(--branco);
    line-height: 20px;
    text-align: center;
    
}

p{
    margin: 3px;
}
img{
    padding: 5px;
}

footer{
   font-weight: bold;
   background-color: var(--preto);
   padding: 5px;
}